* {
  margin: 0;
  pading: 0;
}

body {
  font-family: tahoma;
}

header {
  background-image: linear-gradient(rgba(0,0,0, .7), rgba(0,0,0, .7)), url("../images/main_image.jpeg");
  height: 100vh; /** CSS3, size element to be full width of viewport **/
  background-position: center;
  background-size: cover;
}

.mainCaption {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -20%); /** moves the position of the element **/
}

.mainCaption h1 {
  color: #ffffff;
}

.mainCaption h1 small {
  color: #ffffff;
}

.navBar {
  max-width: 1140px;
  margin: 0 auto;
}

.mainNav {
  float: right;
  list-style: none;
  margin-top: 50px;
}

.mainNav li {
  display: inline-block;
  margin-left: 20px;
}

.mainNav li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 90%;
  font-weight: bold;
}

.mainNav li a:hover {
  color: #caab52;
  border-bottom: 2px solid #caab52;
  transition: all 0.3s ease-in;
  padding: 10px 0;
}

.logo img {
  height: 40px;
  float: left;
  margin-top: 40px;
}

.btn {
  border: 1px solid #caab52;
  border-radius: 10px;
  width: 160px; /** consistent width of button **/
  padding: 10px 30px;
  color: #caab52;
  text-decoration: none;
  margin-right: 10px;
}

.btn-show {
  background-color: #caab52;
  color: #ffffff;
}

.btn-hungry:hover {
  background-color: #caab52;
  color: #ffffff;
  transition: all 0.3s ease-in;
}

.button-moreInfo {
  margin-top: 40px;

}

.page-header {
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
  border-bottom-color: transparent;
}
.page-header h3 {
  text-transform: uppercase;

}

.featuresHeader {
  margin-top: 20px;
}

.page-header h3:after {
  width: 110px;
  height: 2px;
  background-color: #caab52;
  display: block;
  content: " ";
  margin: 0 auto;
  margin-top: 30px;
}

.featuresText {
  text-align: justify;
}

#features i {
  margin-left: 40%;
  margin-bottom: 10px;
  color: #caab52;
}

#features h4 {
  text-align: center;
}

.menuShowcase {
  list-style: none;
  width: 100%;

}

.menuShowcase li {
  display: block;
  width: 24%;
  float: left;
}

.mealImage {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.mealImage img {
  width: 100%;
  height: auto;
  padding: 0 !important;
  margin: 0 !important;
  transform: scale(1.15);
  transition: all 0.5s;
}

.mealImage img:hover {
  transform: scale(1.05); /** hover effect **/
}

.phone {
  text-align: center;
  padding: 5px 5px;
}

.howtoOrder {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
  font-weight: 700;
}
